{{define "bottom"}}
</main>
<footer>
  <ul>
    <li><a href="https://github.com/guimassoquetp">github</a></li>
    <li><a href="https://linkedin.com/in/guimassoqueto">Linkedin</a></li>
  </ul>
</footer>
</body>
</html>
{{end}}